<div class="container txt-center">
  <h1 class="mt-2">Información Para Digitar Contratos</h1>
</div>

<div class="container">  
  <mat-stepper
    class="example-stepper"
    [orientation]="(stepperOrientation | async)!">

    <!-- Paso #1: Datos del inmueble -->
    <mat-step [stepControl]="propertyForm" label="Inmueble">
      <form [formGroup]="propertyForm">
        <!-- Carta de INMUEBLE -->
        <mat-card class="row">
          <mat-card-title class="txt-center">INMUEBLE</mat-card-title>
          <mat-divider></mat-divider>
          <mat-card-content class="margin-top-content">
            <!-- ************** FORMULARIO *************** -->
            <div class="container">
              <!-- Utilizando el GRID de bootrap -->
              <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Nombre Edificio / Conjunto/ Apto #:</mat-label>
                    <input matInput formControlName="houseName" required>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Parqueadero #:</mat-label>
                    <input matInput formControlName="parkNumber" required>
                  </mat-form-field>
                </div>
              </div>
            
              <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Dirección:</mat-label>
                    <input matInput formControlName="adress" required>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Deposito #:</mat-label>
                    <input matInput formControlName="depositNumber" required>
                  </mat-form-field>
                </div>
              </div>
            
              <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Barrio:</mat-label>
                    <input matInput formControlName="neighbourhood" required>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Tipo de inmueble:</mat-label>
                    <mat-select formControlName="propertyType" required>                      
                      <mat-option value="apartamento">
                        Apartamento
                      </mat-option>
                      <mat-option value="apartaestudio">
                        Apartaestudio
                      </mat-option>
                      <mat-option value="casa">
                        Casa
                      </mat-option>
                      <!-- ***************CONTINUAR -->
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Valor Canon:</mat-label>
                    <input matInput>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Bodega</mat-radio-button>
                    <mat-radio-button value="2">Local</mat-radio-button>
                    <mat-radio-button value="3">Oficina</mat-radio-button>
                    <mat-radio-button value="4">Casa Comercial</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div> 

              <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Valor Admon:</mat-label>
                    <input matInput>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Destinacion de Inmueble</mat-label>
                    <input matInput>
                    </mat-form-field>
                </div>
              </div>
            
              <div class="row">
                <div class="col">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Total Canon</mat-label>
                    <input matInput>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Amoblado</mat-radio-button>
                    <mat-radio-button value="2">Administración</mat-radio-button>
                    <mat-radio-button value="3">Consecución</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
        
              <div class="row">
                <div class="col">
                  <!-- <mat-form-field class="example-full-width" appearance="fill"> -->
                    <p>Servicios Públicos que Incluye: </p>              
                  <!-- </mat-form-field> -->
                </div>
                <div class="col">
                  <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Ninguno</mat-radio-button>
                    <mat-radio-button value="2">Agua</mat-radio-button>
                    <mat-radio-button value="3">Energia</mat-radio-button>
                    <mat-radio-button value="4">Gas</mat-radio-button>
                    <mat-radio-button value="5">Parabólica</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </div>
          </mat-card-content>
          <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions> -->
        </mat-card>

        <!-- <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field> -->


        <!-- Boton siguiente -->
        <div>
          <button mat-button matStepperNext (click)="showForm()">Next</button>
        </div>
      </form>
    </mat-step>




    <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
      <form [formGroup]="secondFormGroup">
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" label="Fill out your phone number">
      <form [formGroup]="thirdFormGroup">
        <mat-form-field appearance="fill">
          <mat-label>Phone number</mat-label>
          <input matInput formControlName="thirdCtrl" placeholder="Ex. 12345678" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </mat-step>
  </mat-stepper>  
</div>

<router-outlet></router-outlet>
